*.exe
*.obj
*.o
*.dll
*.lib
*.pdb
*.ilk
*.zip
*.pyc
*.asm
*.log
*.out
*.err
*.txt
*.bin
*.dat
*.bak
*.tmp
*.tmp.*
*.gdb
*.progress
*.dump
*.mark
*.code
*.cur
*.final
*.final2
测试/zcode_瑕疵/
__pycache__/
.git
